<%= render 'shared/erros', obj: @user %>

<%= form_with(model: @user, local: true) do  |f| %>
    <p>
        <%= f.label :username, "Username" %><br/>
        <%= f.text_field :username %>
    </p>
    <p>
        <%= f.label :email, "Email" %><br/>
        <%= f.email_field :email %>
    </p>
    <p>
        <%= f.label :password, "Password" %><br/>
        <%= f.password_field :password %>
    </p>
    <p>
        <%= f.submit(@user.new_record? ? "Create User" : "Update User") %>
    </p>
<% end %>
